<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.Final.Mapper.ActorMapper">
	<select id="selectActorList" parameterType="Map" resultType="com.gd.Final.dto.ActorDto">
		 SELECT actor_id as actorId
	 		   ,actor_img actorImg 
	 		   ,actor_name as actorName
	 		   ,actor_moviename as actorMN
	 		   ,actor_gender as actorGender
	 		   ,actor_age actorAge		 		
		  FROM Actor
		 where movie_num = #{movieNum}
	</select>
</mapper>