<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.Final.Mapper.BorrowMapper">

	<insert id="insertBorrow" parameterType="com.gd.Final.dto.BorrowDto">
		INSERT INTO borrow (bcode,user_id,start_date,end_date) 
		VALUES (#{bcode},#{userId},NOW(),DATE_ADD(NOW(), INTERVAL 7 DAY));
	</insert>
	
	<select id="selectBorrowList" parameterType="Map" resultType="com.gd.Final.dto.BorrowDto">	
		
		SELECT  t.bcode 
				,t.user_id AS userId
				,t1.title
				, t.START_date AS startDate
				, t.end_date AS endDate
				, t.bhave                                                                           
		FROM borrow t
		JOIN Movie t1
		ON (t.bcode = t1.bcode)
		where user_id = #{userId}
		ORDER BY t.bcode; 			
					
	</select>
	
	<update id="updateBehave" parameterType="com.gd.Final.dto.BorrowDto">
				
		UPDATE borrow SET bhave = '반납완료'
		WHERE bcode = #{bcode};
				
	</update>
	
</mapper>