<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.Final.Mapper.CommentMapper">

	<insert id="insertComment" parameterType="com.gd.Final.dto.CommentDto">
			INSERT INTO comment (movie_num
							,user_id
							,comment_text
							,comment_date) 
					VALUES (#{movieNum}
							,#{userId}
							,#{commentText}
							,NOW());
	</insert>
	
	<delete id="deleteComment" parameterType="int">
											
		DELETE FROM comment
		WHERE comment_no=#{commentNo}  AND movie_num = #{movieNum};
														
	</delete>
</mapper>