<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.Final.Mapper.UserMapper">
	<select id="selectUserList" parameterType="Map" resultType="com.gd.Final.dto.UserDto">
		SELECT username userName 
			,user_id userId
			,email
			,gender
			,update_date updateDate
			,create_date createDate
		from User
		WHERE 1= 1
		LIMIT #{beginRow},#{rowPerPage};
	</select>
	
	<select id="selectUserCount" resultType="int">
		SELECT COUNT(*) FROM User;
	</select>
	
	<select id="selectUserOne" resultType="com.gd.Final.dto.UserDto">
		SELECT username userName 	
			,user_id userId
			,email
			,gender
			,update_date updateDate
			,create_date createDate
		from User
		WHERE user_id = #{userId}; 
	</select>
	
	<insert id="insertUser" parameterType="com.gd.Final.dto.UserDto">
		INSERT INTO User(user_id,username,email,gender,update_date,create_date) 
		VALUES (#{userId},#{userName},#{email},#{gender},#{updateDate},#{createDate})		
	</insert>
	
	<update id="updateUser" parameterType="com.gd.Final.dto.UserDto">
		UPDATE User SET username= #{userName}
						,email = #{email}
						,gender= #{gender}
						,update_date= #{updateDate}
						,create_date= #{createDate}
		WHERE user_id = #{userId}
	</update>
	
</mapper>